*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.width-100perc{
    width: 100%;
}

.width-50perc{
    width: 50%;
}

.width-30perc{
    width: 30%;
}

.width-70perc{
    width: 70%;
}

.width-30p{
    width: 30px;
}

.height-30p{
    width: 30px;
}

body{
    font-family: "Roboto";
}

.fontsz-12p{
    font-size: 12px;
}

.fontsz-24p{
    font-size: 24px;
}

.fontsz-18p{
    font-size: 18px;
}

.fontsz-16p{
    font-size: 16px;
}

.centered{
    text-align: center;
}

.align-it-ctr{
  align-items: center;
}

.colorgreen{
    color:#39b54a;
}

.colordarkgrey{
    color: #666;
}

.colorwhite{
    color:white;
}

.border-white{
  border-color: #fff;
}

.bg-yellow{
    background-color: #EAC926;
}

.bg-white{
    background-color: white;
}

.bg-lightgrey{
    background-color: #ebebeb;
}

.bg-blue{
    background-color: #03264C;
}

.bg-lightblue{
    background-color: #1259c3;
}

.shp-circle{
    border-radius: 100%;
}

.margin-bt-10p{
    margin-bottom: 10px;
}

.vw-90{
    width: 90vw;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.my-8p-mx-auto{
    margin: 8px auto;
}

.m-auto{
    margin:auto;
}

.mb-10px{
    margin-bottom: 10px;
}

.mg-sides-5px{
  margin: 0 5px;
}

.burger{
  background-color: #1259c3;
  color: #fff;
  display: block;
  width: 42px;
  padding: 10px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.bt-1 {
    border-top-style: solid;
    border-top-width: 1px;
  }
  
  .border-grey {
    border-color: #ebebeb;
  }

  .border-shp{
    border-color: #39b54a;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
  }

  .dspl-flex{
    display:flex;
  }

  .grow70perc{
    flex: grow 70%;
  }

  .grow30perc{
    flex: grow 30%;
  }

  .flex-wrap{
    flex-wrap: wrap;
  }

  .flex-nowrap{
    flex-wrap: nowrap;
  }

  .post-shp{
    position:absolute;
    right:15px;
    top:-15px;
  }

  .pos-rel{
    position: relative;
  }

  .pos-rel-bt10px{
    position: relative;
    bottom: 10px;
  }

  .stl-bg{
    display: block;
  }

  .dspl-line{
    display: inline;
  }

  .pad-15{
    padding: 15px;
  }

  .pad-4{
    padding: 4px;
  }

  .pad-5{
    padding: 5px;
  }
  
  .bd-rad-5p{
    border-radius: 5px;
  }

  .flex-row{
    flex-direction: row;
  }

  .justif-cont-sp-btw{
    justify-content: space-between;
  }

  .justif-cont-ctr{
    justify-content: center;
  }

  .flex-align-ctr{
    align-items: center;
  }

  .nav-not-mob{
    display: none;
  }

  .desc-not-mob{
    display: none;
  }

  /*tablet*/
  @media (min-width: 520px){
    .img-box-shadow{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .nav-not-mob{
        display: flex;
      }
    .m-only-mob{
        display:none;
    }
    .desc-not-mob{
        display: block;
    }
    .width-tablet-flex{
        width: 45%;
    }
    .not-mob-header{
        flex-wrap: nowrap;
    }
  }
/*desktop*/
  @media(min-width:1280px){
    .img-box-shadow{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .nav-not-mob{
        display: flex;
      }
      .m-only-mob{
        display:none;
    }
    .desc-not-mob{
        display: block;
    }
    .width-tablet-flex{
        width: 20%;
    }

  }
