*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.width-100perc{
    width: 100%;
}

.width-200px{
  width: 200px;
}

.width-50perc{
    width: 50%;
}

.width-30perc{
    width: 30%;
}

.width-70perc{
    width: 70%;
}

.width-80perc{
    width: 80%;
}

.width-30p{
    width: 30px;
}

.width-70p{
  width: 70px;
}

.height-30p{
    width: 30px;
}

body{
    font-family: "Roboto";
}

.fontsz-12p{
    font-size: 12px;
}

.fontsz-24p{
    font-size: 24px;
}

.fontsz-20p{
  font-size: 20px;
}

.fontsz-18p{
    font-size: 18px;
}

.fontsz-16p{
    font-size: 16px;
}

.fontsz-10p{
  font-size: 10px;
}

.font-bold{
  font-weight: bold;
}

.centered{
    text-align: center;
}

.text-right{
  text-align: right;
}

.self-center{
  align-self: center;
}

.align-it-ctr{
  align-items: center;
}

.colorgreen{
    color:#39b54a;
}

.colordarkgrey{
    color: #666;
}

.colorwhite{
    color:white;
}

.color-light-grey{
  color: #ebebeb;
}

.color-blue{
  color: #0022AA;
}

.border-white{
  border-color: #fff;
}

.border-no{
  border:none
}

.bg-yellow{
    background-color: #EAC926;
}

.bg-white{
    background-color: white;
}

.bg-lightgrey{
    background-color: #ebebeb;
}

.bg-blue{
    background-color: #03264C;
}

.bg-lightblue{
    background-color: #1259c3;
}

.shp-circle{
    border-radius: 100%;
}

.margin-bt-10p{
    margin-bottom: 10px;
}

.vw-90{
    width: 90vw;
}

.mg-y-15p{
  margin-top: 15px;
  margin-bottom: 15px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.my-8p-mx-auto{
    margin: 8px auto;
}

.m-auto{
    margin:auto;
}

.mb-10px{
    margin-bottom: 10px;
}

.mg-sides-5px{
  margin: 0 5px;
}

.mg-top-220px{
  margin-top: 220px;
}

.burger{
  background-color: #1259c3;
  color: #fff;
  display: block;
  width: 42px;
  padding: 10px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.bt-1 {
    border-top-style: solid;
    border-top-width: 1px;
  }
  
  .border-grey {
    border-color: #ebebeb;
  }

  .border-shp{
    border-color: #39b54a;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
  }

  .dspl-flex{
    display:flex;
  }

  .grow70perc{
    flex: grow 70%;
  }

  .grow30perc{
    flex: grow 30%;
  }

  .flex-wrap{
    flex-wrap: wrap;
  }

  .flex-nowrap{
    flex-wrap: nowrap;
  }

  .post-shp{
    position:absolute;
    right:15px;
    top:-15px;
  }

  .pos-rel{
    position: relative;
  }

  .pos-rel-right{
    position: relative;
    right: 0;
  }

  .pos-rel-bt10px{
    position: relative;
    bottom: 10px;
  }

  .stl-bg{
    display: block;
  }

  .dspl-line{
    display: inline;
  }

  .pad-left-20px{
    padding-left: 20px;
  }

  .pad-30{
    padding: 30px;
  }

  .pad-15{
    padding: 15px;
  }

  .pad-4{
    padding: 4px;
  }

  .pad-5{
    padding: 5px;
  }

  .pady-5{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .pady-30{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .padleft-5{
    padding-left: 5px;
  }

  .padtop-15{
    padding-top: 15px;
  }
  
  .bd-rad-5p{
    border-radius: 5px;
  }

  .flex-row{
    flex-direction: row;
  }

  .flex-col{
    flex-direction: column;
  }

  .justif-cont-sp-btw{
    justify-content: space-between;
  }

  .justif-cont-ctr{
    justify-content: center;
  }

  .justif-cont-sp-ar{
    justify-content: space-around;
  }

  .flex-align-ctr{
    align-items: center;
  }

  .nav-not-mob{
    display: none;
  }

  .desc-not-mob{
    display: none;
  }

  .input-error{
    color: red;
    opacity: 80%;
    font-size: 10px;
  }
  .but-shadow{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .pos-fix-header{
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .move{
    animation: aumentar 1s linear 2 alternate;
  }

  @keyframes aumentar{
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }


  /*tablet*/
  @media (min-width: 520px){
    .img-box-shadow{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .nav-not-mob{
        display: flex;
      }
    .m-only-mob{
        display:none;
    }
    .desc-not-mob{
        display: block;
    }
    .width-tablet-flex{
        width: 45%;
    }
    .not-mob-header{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .adapt-header{
      flex-grow: 1;
    }

    .mg-top-220px{
      margin-top: 185px;
    }
  }
/*desktop*/
  @media(min-width:1280px){
    
    .no-shadow{
      box-shadow: none;
    }
    
    .img-box-shadow:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .nav-not-mob{
        display: flex;
      }
      .m-only-mob{
        display:none;
    }
    .desc-not-mob{
        display: block;
    }
    .width-tablet-flex{
        width: 20%;
    }

    .not-mob-header{
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .adapt-header{
    flex-grow: 1;
    }

    .description {
      display: none;
    }

    .product:hover .description {
      display: block;
    }

    .product:hover .rotate{
      transform: rotateZ(270deg);
    }

    .button:hover .bg-lightgrey{
      background-color: #0022AA;
      color: white;
    }

    .footer-desktop{
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
    }

    .icon:hover .color-blue{
      color: #666;
    }

    .mg-top-220px{
      margin-top: 250px;
    }

  }
