<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 

    <link href="/css/style.css" rel="stylesheet">

    <title>Mercado Liebre</title>
</head>
<body class="bg-lightgrey">
    <header class="bg-yellow pos-fix-header pad-15 width-100perc">
        <section class=" dspl-flex flex-wrap not-mob-header flex-align-ctr pad-15">
            <div class="dspl-flex justif-cont-sp-btw adapt-header">
                <h1 class="width-50perc">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="width-100perc move">
                </h1>
                <form action="/" method="POST" class=" dspl-flex width-50perc pad-left-20px">
                    <input type="text" name="search" class="self-center border-white bd-rad-5p bg-white width-100perc" placeholder="Buscar productos, marcas y más">
                </form>
            </div>                               
            <p class="centered font-bold margin-bt-10p"><i class="fa-solid fa-hand-holding-dollar pad-15"></i> Comprá en cuotas y sin tarjeta de crédito</p> 
        </section>
        <nav class="nav-not-mob flex-row justif-cont-sp-btw pad-15">
            <ul type="none" class="dspl-flex flex-row">
                <li class="mg-sides-5px"><a href="#">Ofertas</a></li>
                <li class="mg-sides-5px"><a href="#">Tiendas Oficiales</a></li>
                <li class="mg-sides-5px"><a href="#">Vender</a> </li>
                <li class="mg-sides-5px"><a href="#">Ayudas</a></li>
            </ul>
            <ul type="none" class="dspl-flex flex-row">
                <li class="mg-sides-5px"><a href="/register">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li class="mg-sides-5px"><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li class="mg-sides-5px"><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="m-only-mob burger mx-auto pos-rel-bt10px">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <img class="width-100perc mg-top-220px" src="/images/img-home-banner.jpg" alt="Promoción fiestas" />
    <main class="vw-90 mx-auto ">
        <section class="dspl-flex flex-wrap flex-row justif-cont-sp-btw">
            <h2 class="fontsz-24p width-100perc my-8p-mx-auto colordarkgrey">
                Basado en tu última visita
            </h2>
            <article class= "mb-10px img-box-shadow no-shadow width-100perc width-tablet-flex product">
                <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="width-100perc">
                <div class="fontsz-12p bt-1 border-grey pad-15 bg-white pos-rel">
                    <i class="fa-solid fa-truck colorgreen border-shp post-shp pad-5 fontsz-16p width-30p height-30p rotate"></i>
                    <div class="dspl-flex align-it-ctr">
                        <p class="fontsz-18p width-30perc">$6.770</p>
                        <p class="fontsz-16p colorgreen width-70perc centered">40% off</p>
                    </div>
                    <h3 class="fontsz-16p desc-not-mob description">Cafetera Moulinex</h3>
                </div>
            </article >
            <article class= "mb-10px img-box-shadow no-shadow width-100perc width-tablet-flex product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro" class="width-100perc">
                <div class="fontsz-12p bt-1 border-grey pad-15 bg-white pos-rel">
                    <i class="fa-solid fa-truck colorgreen border-shp post-shp pad-5 fontsz-16p width-30p height-30p rotate"></i>
                    <div class="dspl-flex align-it-ctr">
                        <p class="fontsz-18p width-30perc">$230.000</p>
                        <p class="fontsz-16p colorgreen width-70perc centered">20% off</p>
                    </div>
                    <h3 class="fontsz-16p desc-not-mob description">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class= "mb-10px img-box-shadow no-shadow width-100perc width-tablet-flex product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy" class="width-100perc">
                <div class="fontsz-12p bt-1 border-grey pad-15 bg-white pos-rel">
                    <i class="fa-solid fa-truck colorgreen border-shp post-shp pad-5 fontsz-16p width-30p height-30p rotate"></i>
                    <div class="dspl-flex align-it-ctr">
                        <p class="fontsz-18p width-30perc">$70.500</p>
                        <p class="fontsz-16p colorgreen width-70perc centered">10% off</p>
                    </div>
                    <h3 class="fontsz-16p desc-not-mob description">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class= "mb-10px img-box-shadow no-shadow width-100perc width-tablet-flex product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-smart-tv" class="width-100perc">
                <div class="fontsz-12p bt-1 border-grey pad-15 bg-white pos-rel">
                    <i class="fa-solid fa-truck colorgreen border-shp post-shp pad-5 fontsz-16p width-30p height-30p rotate"></i>
                    <div class="dspl-flex align-it-ctr">
                        <p class="fontsz-18p width-30perc">$23.200</p>
                        <p class="fontsz-16p colorgreen width-70perc centered">5% off</p>
                    </div>
                    <h3 class="fontsz-16p desc-not-mob description">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section class="dspl-flex flex-wrap flex-row justif-cont-sp-btw">
            <h2 class="fontsz-24p width-100perc my-8p-mx-auto colordarkgrey">
                Ofertas
            </h2>
            <article class= "mb-10px img-box-shadow no-shadow width-100perc width-tablet-flex product">
                <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="width-100perc">
                <div class="fontsz-12p bt-1 border-grey pad-15 bg-white pos-rel">
                    <i class="fa-solid fa-truck colorgreen border-shp post-shp pad-5 fontsz-16p width-30p height-30p rotate"></i>
                    <div class="dspl-flex align-it-ctr">
                        <p class="fontsz-18p width-30perc">$6.770</p>
                        <p class="fontsz-16p colorgreen width-70perc centered">40% off</p>
                    </div>
                    <h3 class="fontsz-16p desc-not-mob description">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class= "mb-10px img-box-shadow no-shadow width-100perc width-tablet-flex product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro"  class="width-100perc">
                <div class="fontsz-12p bt-1 border-grey pad-15 bg-white pos-rel">
                    <i class="fa-solid fa-truck colorgreen border-shp post-shp pad-5 fontsz-16p width-30p height-30p rotate"></i>
                    <div class="dspl-flex align-it-ctr">
                        <p class="fontsz-18p width-30perc">$230.000</p>
                        <p class="fontsz-16p colorgreen width-70perc centered">20% off</p>
                    </div>
                    <h3 class="fontsz-16p desc-not-mob description">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class= "mb-10px img-box-shadow no-shadow width-100perc width-tablet-flex product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy" class="width-100perc">
                <div class="fontsz-12p bt-1 border-grey pad-15 bg-white pos-rel">
                    <i class="fa-solid fa-truck colorgreen border-shp post-shp pad-5 fontsz-16p width-30p height-30p rotate"></i>
                    <div class="dspl-flex align-it-ctr">
                        <p class="fontsz-18p width-30perc">$70.500</p>
                        <p class="fontsz-16p colorgreen width-70perc centered">10% off</p>
                    </div>
                    <h3 class="fontsz-16p desc-not-mob description">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class= "mb-10px img-box-shadow no-shadow width-100perc width-tablet-flex product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-smart-tv" class="width-100perc">
                <div class="fontsz-12p bt-1 border-grey pad-15 bg-white pos-rel">
                    <i class="fa-solid fa-truck colorgreen border-shp post-shp pad-5 fontsz-16p width-30p height-30p rotate"></i>
                    <div class="dspl-flex align-it-ctr">
                        <p class="fontsz-18p width-30perc">$23.200</p>
                        <p class="fontsz-16p colorgreen width-70perc centered">5% off</p>
                    </div>
                    <h3 class="fontsz-16p desc-not-mob description">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    
    <footer>
        <section class="dspl-flex flex-col footer-desktop">
            <div class="centered margin-bt-10p">
                <p class="margin-bt-10p icon">
                    <i class="fa-solid fa-credit-card color-blue" style="font-size: 2em;"></i>
                </p>
                <h5>
                    Pagá con Tarjeta o en efectivo
                </h5>
                <p class="fontsz-10p pady-5">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div class="centered margin-bt-10p">
                <p class="margin-bt-10p icon">
                    <i class="fa-solid fa-gift color-blue" style="font-size: 2em;"></i>
                </p>
                <h5>
                    Envío gratis desde $ 2.500
                </h5>
                <p class="fontsz-10p pady-5">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div class="centered margin-bt-10p">
                <p class="margin-bt-10p icon">
                    <i class="fa-solid fa-user-shield color-blue" style="font-size: 2em;"></i>
                </p>
                <h5>
                    Seguridad, de principio a fin
                </h5>
                <p class="fontsz-10p pady-5">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </div>
        </section>
        
        <div class="fontsz-10p mg-y-15p">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </div>
    </footer>
</body>
</html>